.textoRojo {
  color: red;
  font-weight: bold; }

.textoAzul {
  color: blue;
  font-weight: bold; }

.gris {
  color: #999;
  font-size: 12px; }

.precio {
  color: #333;
  font-size: 14px;
  font-weight: bold; }

ul {
  list-style: none; }
  ul.social {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: center; }
    ul.social li {
      width: 50px;
      text-align: center; }

.ion-social-facebook {
  font-weight: bold;
  color: #999;
  font-size: 30px;
  text-decoration: none; }

.ion-social-linkedin {
  font-weight: bold;
  color: #999;
  font-size: 30px;
  text-decoration: none; }

.ion-social-pinterest {
  font-weight: bold;
  color: #999;
  font-size: 30px;
  text-decoration: none; }

h1 {
  color: #0959a0;
  text-transform: uppercase; }

.containerHeader {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

body {
  background-color: #ebe9ea; }

.jumbotron.corp {
  height: 450px; }
  .jumbotron.corp .imagen {
    width: 100%;
    background-image: url("http://www.luisan.net/identidad-corporativa/imagenes-imagen-corporativa/imagen-corporativa.jpg");
    height: 350px; }
