@import "helpers.scss";

body {
	background-color: #ebe9ea;
}

.jumbotron {
	&.corp{
		height: 450px;
		.imagen {
		width: 100%;
		background-image: url("http://www.luisan.net/identidad-corporativa/imagenes-imagen-corporativa/imagen-corporativa.jpg");
		height: 350px;
		}
	}

}